//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 13 08:50:14 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk_osc" LOCATE = SITE "P123" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "common0" LOCATE = SITE "P44" LEVEL 1;
COMP "common1" LOCATE = SITE "P43" LEVEL 1;
COMP "common2" LOCATE = SITE "P33" LEVEL 1;
COMP "common3" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

